<h1>Editing outfit_pair</h1>

<% form_for(@outfit_pair) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_image %><br />
    <%= f.text_field :first_image %>
  </p>
  <p>
    <%= f.label :second_image %><br />
    <%= f.text_field :second_image %>
  </p>
  <p>
    <%= f.label :first_votes %><br />
    <%= f.text_field :first_votes %>
  </p>
  <p>
    <%= f.label :second_votes %><br />
    <%= f.text_field :second_votes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @outfit_pair %> |
<%= link_to 'Back', outfit_pairs_path %>